script(src="https://hcaptcha.com/1/api.js" async defer)

form(action="/signup" method="POST")
  if req.getConfig().HCaptcha.enabled
    div(class="h-captcha" data-sitekey=req.getConfig().HCaptcha['site-key'])

  br
  label(for="username") Username
  input(type="text" id="username" name="username" required)

  br
  label(for="password") Password
  input(type="password" id="password" name="password")

  br
  label(for="email") Email
  input(type="text" id="email" name="email")

  br
  input(type="submit" value="Submit")